<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Job App Login</title>
</head>

<body>
    <header>
        <div class="container">
            <h3>Jobs <span>App</span></h3>
        </div>
    </header>
    <div class="login-page">
        <div class="container">
            <div class="card">
                <h3>New Job</h3>
                <form action="" method="post">
                    <div class="input-field">
                        <label for="company">Company</label>
                        <input type="email" name="" id="company">
                    </div>
                    <div class="input-field">
                        <label for="position">Position</label>
                        <input type="password" name="" id="position">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <p> You have no jobs to display</p>
        </div>
    </div>
</body>

</html>