<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Job App Login</title>
</head>
<body>
    <header>
        <div class="container">
            <h3>Jobs <span>App</span></h3>
        </div>
    </header>
    <div class="login-page">
        <div class="container">
            <div class="card">
                <h3>Login</h3>
                <form action="" method="post">
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="email" name="" id="email">
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" name="" id="password">
                    </div>
                    <input type="submit" value="Submit">
                </form>
                <p>Not a member yet? <a id="RegisterPage" href="/api/v1/view/register">Register</a>
                </p>
            </div>
        </div>
    </div>
<!--    <script src="../public/JS/main.js"></script>-->
</body>
</html>